<% layout('layouts/boilerplate.ejs') %>
    <div class="container d-flex justify-content-center align-items-center my-5">
        <div class="row">
            <div class="col-md-6 w-100 offset-md-3">
                <div class="card ">
                    <img src="images/sambit-mahapatra-SnQs8Kozt6c-unsplash-200x-200y.jpg" alt="A campfire at night"
                        class="card-img-top " />
                    <div class="card-body">
                        <p class="card-title text-center" style="font-size: 18px;" data-test-id="register-p">Register
                        </p>
                        <form action="/register" method="POST" class="check-validation" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input aria-label="Username Input" class="form-control" type="text" id="username"
                                    name="user[username]" placeholder="Username" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input aria-label="Password Input" class="form-control" type="password" id="password"
                                    name="user[password]" placeholder="Password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input aria-label="Email Input" class="form-control" type="email" id="email"
                                    name="user[email]" placeholder="name@example.com" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button aria-label="Register Button" class="btn btn-success btn-block"
                                    name="registerBtn">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>