<% layout('layouts/boilerplate.ejs') %>
    <h1>See All Campgrounds</h1>

    <ul>
        <% for (let camp of camps) { %>
            <li>
                <a href="/campground/<%= camp._id %>">
                    <%= camp.title %>
                </a>
            </li>
            <% } %>
    </ul>
    <a href="/campground/new">Add A Campground</a>