<% layout('layouts/boilerplate.ejs') %>
    <h1>Add a campground</h1>
    <form action="/campground" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" name="campground[title]" id="title">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="campground[location]" id="location">
        </div>
        <div>
            <button>Add Campground</button>
        </div>
    </form>
    <footer>
        <a href="/campground">Back To All Campgrounds</a>
    </footer>